body._lock{
    overflow: hidden;
}
body{
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 150%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
a:active,
a:hover,
a {
    color: $main-color1;
}
.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}

// container +30px padding
[class*="__container"]{
    max-width: 1160px;
    margin: 0 auto;
}
@media (max-width: 1189.98px ){
    [class*="__container"] {
        max-width: 970px;
   }
}
@media (max-width: 991.98px){
    [class*="__container"] {
        max-width: 750px;
   }
}
@media (max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
        padding: 0px 30px;
   }
}
._golden-button{
    position: relative;
    z-index: 1;
    border-radius: 100px;
    background-color: $main-color3;
    color: $main-color2;
    font-size: 16px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1;
}
._golden-button::after{
    content: "";
    position: absolute;
    background: url("../images/promotions-offers-buttonIcons.svg");
    width: 24px;
    height: 24px;
    top: 19px;
    right: 30px;
}
._golden-button:hover {
    color: $main-color2;
}
.inactive__languege{
    opacity: 0.5;
}
.number {
    color: #ffffff;
    font-size: 20px;
    position: relative;
}
.number::before{
    content: " ";
    background: url("../images/header-icon-phone.svg") 0 0 no-repeat;
    position: absolute;
    top: -3px;
    left: -29px;
    width: 24px;
    height: 24px;
}
